.password-generator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #9084ec;
}

.password-generator label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.password-generator select,
.password-generator input[type="number"] {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #564949;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.password-generator button {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #050404;
    color: #fff;
    transition: background-color 0.3s;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.password-generator button:hover {
    background-color: #0069d9;
}

.password-generator .generated-password {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}