.password-generator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #9785ff;
}

.password-generator label {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.password-generator select,
.password-generator input[type="number"] {
    font-size: 20px;
    padding: 10px;
    border: 8px solid #022e48;
    border-radius: 12px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.password-generator button {
    animation-name: passwordButton;
    animation-duration: 2s;
    animation-delay: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    font-size: 32px;
    font-weight: bold;
    padding: 20px 40px;
    border: 8px solid #022e48;
    border-radius: 20px;
    cursor: pointer;
    background-color: #050404;
    color: #fff;
    transition: background-color 0.3s;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.password-generator button:hover {
    background-color: #0069d9;
}

.generated-password {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    border: 8px solid #022e48;
    border-radius: 0px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 100px;
    text-align: center;
    background-color: #fff;
    color: #022e48;
}

@keyframes passwordButton {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(-5px);
    }

    20% {
        transform: translateX(5px);
    }

    30% {
        transform: translateX(-5px);
    }

    40% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(-5px);
    }

    60% {
        transform: translateX(5px);
    }

    70% {
        transform: translateX(-5px);
    }

    80% {
        transform: translateX(5px);
    }

    90% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}
